// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


.active {
    font-weight: bold;
}

#js_filterSearchClearSubmit {
    display: none;
}

.AmiTableBox {
    margin-top: 20px;
    width: 1200px;
}
